<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/car.urdf.xacro'"/>

  <!-- Load controller parameters -->
  <rosparam command="load" file="$(find robot_description)/config/ctrl_ackermann_steering_controller.yaml" />
  <rosparam command="load" file="$(find robot_description)/config/ctrl_gains.yaml" />
  <rosparam command="load" file="$(find robot_description)/config/ctrl_joint_state_publisher.yaml" />

  <arg name="use_gui" default="true" doc="Should the joint_state_publisher use a GUI for controlling joint states" />
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />
  <node pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz_config/urdf.rviz"/>
  <!--   <node name="rviz" pkg="rviz" type="rviz" args=""/> -->

</launch>