<launch>
  <param name="/pwm_drive_pin" type="int" value="32"/>
  <param name="/pwm_steering_pin" type="int" value="33"/>

  <rosparam param="/sonic_sensors">
    front_left:
      echo_pin: 11
      trigger_pin: 12
    front_center:
      echo_pin: 16
      trigger_pin: 18
    front_right:
      echo_pin: 22
      trigger_pin: 24
  </rosparam>

  <node name="camera_streamer" pkg="hardware_control" type="camera_stream.py" />
  <node name="cmd_listener" pkg="hardware_control" type="speed_cmd_listener.py" />
  <node name="acc_gyro_streamer" pkg="sensors_communication" type="imu_stream.py" />
  <node name="sonic_data_streamer" pkg="sensors_communication" type="sonic_stream.py" />

  <include file="$(find robot_gui_bridge)/launch/websocket.launch" />
</launch>