<?xml version="1.0"?>
<robot>
  <!-- Gazebo plugins -->
  <gazebo>
    <!-- Load ros_control plugin using the steer_bot_hardware_gazebo
    implementation of the hardware_interface::RobotHW -->
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/car</robotNamespace>
      <!--
      <robotSimType>car_hardware_gazebo/SteerBotHardwareGazebo</robotSimType>
      <legacyModeNS>false</legacyModeNS>
      -->
    </plugin>
  </gazebo>

  <!--
  <gazebo reference="base_link">

  </gazebo>

  <gazebo reference="right_front_steering">
    <mu1 value="200.0"/>
    <mu2 value="100.0"/>
    <kp value="10000000.0" />
    <kd value="1.0" />
  </gazebo>

  <gazebo reference="left_front_steering">
    <mu1 value="200.0"/>
    <mu2 value="100.0"/>
    <kp value="10000000.0" />
    <kd value="1.0" />
  </gazebo>

  <gazebo reference="left_rear_wheel">
    <mu1 value="200.0"/>
    <mu2 value="100.0"/>
    <kp value="10000000.0" />
    <kd value="1.0" />
  </gazebo>

  <gazebo reference="right_rear_wheel">
    <mu1 value="200.0"/>
    <mu2 value="100.0"/>
    <kp value="10000000.0" />
    <kd value="1.0" />
  </gazebo>
  -->
</robot>